# R specific
.Rhistory
.RData
.Rproj.user/
.Ruserdata
.Rapp.history
*.rds
*.R

# RStudio files
*.Rproj
.Rproj.user/

# Temporary files
*.tmp
*.swp
*.swo
*.DS_Store
*.ipynb_checkpoints/

# Reports and cache
*.html
*.pdf
*.docx
docs/_book/
cache/
*.log
*.Rmd
*.qmd
reports/

# Package building
*.tar.gz
*.Rcheck/

# Data
*.xls
*.xlsx
*.csv
!results/data/*.csv
